<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">   	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BumpApp</title>
        <link rel="stylesheet" href="CSS/index.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.min.css" />
  		<script src="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.min.js"></script>
        
    </head>
    <body>
        <div id="header">    
            <h1>BumpApp</h1>
        </div>

        <div id="Lateral"> 
            <input id="MostrarForm" type="image" src="Images/lupa.png">
            <input id="ElegirAlg" type="image" src="Images/configuracion.png">
            <input id="GuardarAlg" type="image" src="Images/guardar.png">
            <input id="CompararAlg" type="image" src="Images/comparar.png">
        </div>

        <div id="Contenedor">
            <div id ="Mapa"></div>
            <input id="resetbutton" type="image" src="Images/home.png">
            <div id="Grafico" style="display: none;"></div>
            <div id="Filtros" style="display: none;">
                <h1 style="text-align: center;"> FILTRADO</h1>
                <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">Filtra las rutas que se encuentran en el círculo dibujado.</p>
                <form action="" method="post">
                    <label for="freq_min">Frecuencia mínima:</label>
                    <input type="range" id="freq_min" name="freq_min" min="0" max="1000">
                    
                    <label for="freq_max">Frecuencia máxima:</label>
                    <input type="number" id="freq_max" name="freq_max" min="0" max="1000">
                    
                    <label for="speed">Velocidad:</label>
                    <input type="number" id="speed" name="speed" min="0" max="500">
                    
                    <label for="elevation">Elevación:</label>
                    <input type="number" id="elevation" name="elevation" min="0" max="5000">

                    <button type="submit">Filtrar</button>
                </form>
            </div>
            <div id="FiltroAlgoritmo" style="display: none;">
                <h1 style="text-align: center;">ANÁLISIS</h1>
                <p style="text-align: justify; margin-left: 5%; margin-right: 5%;">Analiza tu traza seleccionando diferentes algoritmos para la detección de baches.</p>
                <form>
                    <select id="CompletarAlgoritmos"></select>
                    <h2>Descripción:</h2>
                    <p id=Descripcion></p>
                    <h2>Parámetros:</h2>
                    <div id="parametrosForm"></div>
                    <button id="EjecutarAlgoritmo">Ejecutar</button>
                </form>
            </div>
        	<div id="Guardar" style="display: none;">
        		<h1 style="text-align: center;">Desea guardar los datos del algoritmo seleccionado?</h1>
        		<div id="Botones">
	        		<button id="cerrarGuardado">Cerrar</button>
	  				<button id="abrirGuardado">Guardar</button>
	  			</div>
        	</div>
        	<div id="VerTabla" style="display: none;">
        		<h1>Comparación de algoritmos</h1>
        		<p>Selecciona uno o dos algoritmos a visualizar</p>
	        	<table id="miTabla">
				 	<thead>
					    <tr>
						    <th>Id</th>
						    <th>Nombre de la traza</th>
						    <th>Algoritmo</th>
						    <th>Parámetros</th>
					    </tr>
				  </thead>
				  <tbody></tbody>
				</table>
				<div id="Botonesomparacion">
					<button id="cerrarComparacion">Cerrar</button>
					<button id="CompararDosAlgoritmos">Comparar</button>
				</div>
        	</div>
        </div>

        <script>
            //Funcion para generar los puntos del grafico uno por uno, para no cargar todos en memoria
            function* generarPuntos(hashmap) {
                orden = 0;
                for (const [key, value] of hashmap.entries()) {
                    for (let i = 0; i < value.aceleracion.length; i++) {
                        yield {
                            x: orden++,
                            y: value.aceleracion[i],
                            coordenadas: key,
                            velocidad: value.velocidad,
                            baches: value.baches[i]
                        };
                    }
                }
            }

            function graficar(hashmap) {
                // Generaramos los puntos
                puntos = Array.from(generarPuntos(hashmap));

                let puntosBache = puntos.filter(punto => punto.baches === 1).map(punto => punto.coordenadas);
                if (puntosBache.length > 0) {
                    for (let i = 0; i < puntosBache.length; i++) {
                        var bache = L.marker(puntosBache[i], {icon: icon2});
                        baches.addLayer(bache);
                        
                    }
                }

                //Creamos un array para almacenar los índices de los puntos que corresponden a baches
                let indicesBache = puntos.filter(punto => punto.baches === 1).map(punto => punto.x);
                
                //Ponemos la flecha en el inicio de la traza
                flecha.setLatLng(puntos[0].coordenadas);
                
                //Si no estaba dibujada la flecha, se actualiza el flag de la marca
                if (flagMarker == 0){
                    flagMarker = 1;
                }

                //Variable que controlla si el grafico ya ha sido cargado
                var chartIsLoaded = false;

                // Crear el grafico
                chart = Highcharts.chart('Grafico', {
                    chart: {
                        type: 'line',
                        animation: false,
                        zoomType: 'x',
                        panning: true,
                        panKey: 'shift',
                        events: {
                            load: function () {
                                chartIsLoaded = true;

                                c = this;
                                // Recorremos los índices de los puntos con baches para crear las plotBands
                                for (let i = 0; i < indicesBache.length; i++) {
                                    let start = puntos[indicesBache[i]].x - 1.5;
                                    let end = puntos[indicesBache[i]].x + 1.5;
                                    c.xAxis[0].addPlotBand({
                                        from: start,
                                        to: end,
                                        color: '#f80000', //E66262
                                        id: `plotband-${indicesBache[i]}`
                                    });
                                }
                            }
                        }
                    },
                    title: {
                        text: 'Anális del pavimento',
                        style: {
                            fontSize: '30px',
                            fontFamily: "Exo-ExtraLight"
                        }
                    },
                    xAxis: {
                        labels: {
                            style: {
                                fontFamily: "Exo-Light"
                            }
                        },
                        events: {
                            setExtremes: function (e) {
                                //Vemos los puntos que están visibles en el zoom
                                let puntosEnZoom = puntos.filter(punto => punto.x >= e.min && punto.x <= e.max);
                                //Recorremos los puntos y sacamos las coordenadas
                                puntosEnZoom = puntosEnZoom.map(punto => punto.coordenadas);
                                //Actualizamos la sombra
                                sombra.setLatLngs(puntosEnZoom);
                                sombra.setStyle({ opacity: 0.9 });
                            }
                        }
                    },
                    yAxis:[{ //Se muestran aquí las aceleraciones verticales
                        title: {
                            text: 'Aceleración vertical'
                        }, 
                        labels: {
                            style: {
                                fontFamily: "Exo-Light"
                            }
                        }
                    }, { //Se muestran aquí las velocidades
                        opposite: true,
                        title: {
                            text: 'Velocidad'
                        },
                        labels: {
                            style: {
                                fontFamily: "Exo-Light"
                            }
                        }
                    }],
                    series: [
                        {
                            name: 'Aceleración vertical',
                            color: '#7a62e6',
                            marker: {
                                radius: 3,
                                symbol: 'circle'
                            },
                            data: puntos.map(punto => punto.y),
                            yAxis: 0
                        },
                        {
                            name: 'Velocidad',
                            color: '#2d1a54',
                            marker: {
                                radius: 3,
                                symbol: 'circle'
                            },
                            data: puntos.map(punto => punto.velocidad),
                            yAxis: 1
                        }
                    ],
                    tooltip:{
                        formatter: function() {
                            return `Aceleración vertical ${puntos[this.point.x].y} <br>Coordenada: ${puntos[this.point.x].coordenadas} <br>Velocidad: ${puntos[this.point.x].velocidad}`;
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    credits: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            point: {
                                events: {
                                    mouseOver: function () {
                                        if (chartIsLoaded) {
                                            flecha.setLatLng(puntos[this.x].coordenadas);
                                        }
                                    },
                                }
                            },
                        }
                    }
                });
                //Evento render del chart
                chart.render(function () {
                    //Actualizar la variable de estado
                    chartIsLoaded = true;
                });
            }  
        </script>
        
        <script>
            //Almacena todos los puntos con la información de la traza
            var puntos;
            //Alamacena el gráico
            var chart;
            //Nombre algoritmo usado
            var nombreAlgoritmo;
           	//Nombre de la traza seleccionada
           	var nombreTraza;
           	//Resultado de un algoritmo
           	var resultado;
           	//Parametros usados
           	var parametrosEnAlgoritmo;
          	//control: 0 boton de filtros desactivados, 1 boton de filtros activado, 2 boton de algoritmos activado, 3 boton de algoritmos activado y boton de guardar
            let control = 0;
            //flag que controla que no haya mas de un marcador en el mapa
            let flagMarker = 0;
            
            /*--------------------MAPA--------------------*/
            //Coordenadas de SDC 42.88052 -8.54569
            var map = L.map('Mapa').setView([42.880, -8.54], 14);
            //Obtenemos el mapa de openstreetmap como base
            var osmLayer = new L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			    noWrap: true
			});
			osmLayer.addTo(map);
			var layersControl = new L.control.layers({
			    'OSM': osmLayer
			}).addTo(map);
			
			//google satellite
		    var watercolor = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
		        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
		        subdomains: 'abcd',
		        ext: 'jpg'
		    });
			
		 	// dark map 
		    var dark = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
		        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
		        subdomains: 'abcd'
		    });

		    // google street 
		    var googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
		        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
		    });
			
		    //Permitimos su eleccion
			map.addControl(layersControl);
			layersControl.addBaseLayer(googleStreets, 'Google street');
			layersControl.addBaseLayer(watercolor, 'Water color');
			layersControl.addBaseLayer(dark, 'Dark');
			
			L.control.coordinates({
				//Posición del control en el mapa
			  	position:"bottomleft",
				//Número de decimales a mostrar en las coordenadas
			  	decimals: 6, 
			 	//Separador decimal
			  	decimalSeperator: ",",
			  	//Etiqueta para la latitud
			  	labelTemplateLat: "Latitud: {y}", 
			 	//Etiqueta para la longitud
			  	labelTemplateLng: "Longitud: {x}",
			 	//Mostrar las coordenadas en grados-minutos-segundos
			  	useDMS: false,
			 	//Ordenar las coordenadas como latitud-longitud
			  	useLatLngOrder: true 
			}).addTo(map);
			
			//Configuramos el botón de resetear el zoom
			var resetButton = document.getElementById('resetbutton');
			resetButton.addEventListener('click', function(event) {
				map.setView([42.880, -8.54], 14);
			});
			
            //Creamos un marker personalizado para la flecha
            const icon = L.icon({
                iconUrl: 'Images/coche.png',
                iconSize: [41, 41],
                iconAnchor: [12, 41],
                popupAnchor: [0, -41]
            });
            //Creamos un marker para la flecha
            var flecha = L.marker([0, 0], {icon: icon}).addTo(map);
              
            //Inicializamos la sombra que va a marcar en que zona estamos haciendo zoom en el highchat
            var coordenadas = [  [51.505, -0.09],
			  [51.51, -0.1]
			];
            var sombra = L.polyline(coordenadas, {color: '#effa01', opacity:0, weight: 20}).addTo(map);
            //Creamos un marker personalizado para los baches
            const icon2 = L.icon({
                iconUrl: 'Images/ubicacion1.png',
                iconSize: [35, 35],
                iconAnchor: [3, 35],
                popupAnchor: [0, -25]
            });
            const icon3 = L.icon({
                iconUrl: 'Images/ubicacion2.png',
                iconSize: [30, 30],
                iconAnchor: [3, 30],
                popupAnchor: [0, -25]
            });
            //Creamos un grupo de iconos que muestran los baches
            var baches = L.layerGroup().addTo(map);
            var bachesalgoritmo = L.layerGroup().addTo(map);
            
            /*--------------------GEOSERVER--------------------*/
            var wmsGeneral = L.tileLayer.wms('http://localhost:6060/geoserver/TFG/wms?', {
                layers: 'TFG:track_points',
                format: 'image/png',
                transparent: true,
                attribution: 'TFG'
            }).addTo(map);

            /*--------------------MAPA DRAW--------------------*/
            //Creamos el circulo preconfigurado
            const circleOptions = {
                shapeOptions: {
                    color: '#f50a4c'
                },
                metric: true,
                allowIntersection: false
            };
            const drawnItems = new L.FeatureGroup();
            map.addLayer(drawnItems);
            //Agregamos el circulo al mapa usando Leaflet Draw
            const drawControl = new L.Control.Draw({
                edit: {
                    featureGroup: drawnItems,
                    remove: false,
                    edit: false
                },
                draw: {
                    circle: circleOptions,
                    polygon: false,
                    rectangle: false,
                    circlemarker: false,
                    marker: false,
                    polyline: false
                }
            });

            //Guardamos las capas creadas
            var layersFiltrados = new Map();

            //Añadimos el evento para cuando se dibuja un circulo
            map.on('draw:created', function (e) {
                if (e.layerType === 'circle') {
                    //Obtenemos el centro del circulo, del que sacaremos las coordenadas longitud y latitud
                    var center = e.layer.getLatLng();
                    //Obtenemos el radio del circulo
                    var radius = e.layer.getRadius();
                    //Creamos un array que almacene los índices filtrados
                    var indices = [];

                    //Realizamos un AjaxRequest a Geoserver con la consulta
                    $.ajax({
                        url: 'http://localhost:6060/geoserver/TFG/wfs?',
                        type: 'GET',
                        data: {
                            service: 'WFS',
                            version: '1.0.0',
                            request: 'GetFeature',
                            typeName: 'TFG:track_points',
                            outputFormat: 'application/json',
                            cql_filter: 'DWithin(point_geo, POINT(' + center.lng + ' ' + center.lat + '),' + radius + ', meters)'
                        },
                        success: function(data){
                            //Guardamos los diferentes índices que hay
                            for (var i = 0; i < data.features.length; i++) {
                                if (indices.indexOf(data.features[i].properties.track) == -1){
                                    indices.push(data.features[i].properties.track);
                                }
                            }
                            //En el caso de no haber ningún índice, no se pintará nada
                            if (indices.length != 0){
                                //Flag que  se permite hacer click solo una vez en el polyline
                                let flagPoly = 0;
                                if (flagMarker == 1){
                                    flecha.setLatLng([0, 0]);
                                    flagMarker = 0;
                                }
                              	//Limpiamos los id de la traza, el algoritmo y los parametros usados
                                nombreTraza = null;
                                nombreAlgortimo = null;
                                resultado = null;
                                parametrosEnAlgoritmo = null;
                                //Reseteamos los baches
                                baches.clearLayers();
                                bachesalgoritmo.clearLayers();
                                //Escondemos la sombra
                                sombra.setStyle({ opacity: 0});
                                //Ocultamos el gráfico
                                document.getElementById("Grafico").style.display = "None";
                              	//Ocultamos el guardado
                                document.getElementById("Guardar").style.display = "None";
                                document.getElementById("GuardarAlg").style.opacity = "";
                                //Permitimos el filtrado de datos
                                control = 1;
                                //Borramos lo que teniamos pintado en el mapa anteriormente
                                
                                map.removeLayer(wmsGeneral);
                                //Borramos las capas creadas
                                layersFiltrados.forEach(function(layer){
                                    map.removeLayer(layer);
                                });
                                //Limpiamos las capas
                                layersFiltrados.clear();
                                
                                //Creamos un array de colores que se utilizarán para pintar las capas
                                const colores = [  "#0B94B1",  "#E29D17",  "#2A7D9B",  "#D3C46F",  "#1F6D8A",  "#E1B141",  "#30678D",  "#D2B747",  "#1A6A7D",  "#B5A437",  "#266F80",  "#D8B846",  "#1C7285",  "#D7B639",  "#256D80",  "#B9A335",  "#0E6D7C",  "#D2B547",  "#2A7380",  "#E1B13B"];
                                //Índice del array
                                let indice = 0;
                                //Recorremos cada traza y obtenemos sus puntos
                                for (var i = 0; i < indices.length; i++) {
                                    $.ajax({
                                        url: 'http://localhost:6060/geoserver/TFG/wfs?',
                                        type: 'GET',
                                        data: {
                                            service: 'WFS',
                                            version: '1.0.0',
                                            request: 'GetFeature',
                                            typeName: 'TFG:track_points',
                                            outputFormat: 'application/json',
                                            srsName: 'EPSG:4326',
                                            cql_filter: 'track = ' + '\'' + indices[i] + '\''
                                        },
                                        success: function (data) {
                                            var coordenadas = [];
                                            //guardamos las coordenadas de cada punto
                                            for (var i = 0; i < data.features.length; i++) {
                                                coordenadas.push(data.features[i].geometry.coordinates.reverse());
                                            }
                                            //si hemos superado las 20 trazas, repetimos los colores
                                            if (indice == 19) {
                                                indice = 0;
                                            } else {
                                                indice++;
                                            }
                                            //Creamos una linea de los puntos de la traza y lo pintamos de un color en concreto
                                            var polyLine = L.polyline(coordenadas, {color: colores[indice], weight: 5}).addTo(map);
                                            // Agregamos el id del track para poder reconocer posteriormente las trazas
                                            polyLine.myData = {
                                                name: '\'' + data.features[1].properties.track  + '\''
                                            };
                                            //Guarda el polyline en un hashmap, para después poder eliminarlo o no
                                            layersFiltrados.set(data.features[0].properties.track, polyLine);

                                            //En el caso de hacer click sobre una determinada línea
                                            polyLine.on('click', function(e) {
                                                if (flagPoly == 0){
                                                    flagPoly = 1;
                                                    //Eliminamos los elementos del mapa que no correspondan con la clave del polyline seleccionado
                                                    for (var [key, value] of layersFiltrados) {
                                                        //En el caso de tener abierto el formulario de filtros, lo cerramos
                                                        if (document.getElementById('Filtros').style.display == "block"){
                                                            document.getElementById('Filtros').style.display = "none";
                                                            document.getElementById('MostrarForm').style.opacity = "";
                                                        }
                                                        //Permitimos la elección de algoritmos
                                                        control = 2;
                                                        //Eliminamos todas las trazas que no correpondan con el id seleccionado
                                                        if (key != e.target.myData.name.replace(/'/g, "")) {
                                                            map.removeLayer(value);
                                                            layersFiltrados.delete(key);
                                                        }
                                                        
                                                        nombreTraza = e.target.myData.name.replace(/'/g, "");
                                                        //Para la traza seleccionada realizamos una petición Ajax para obtener los datos de la traza, enconreto los valores que muestran el rebote
                                                        $.ajax({
                                                            url: 'http://localhost:6060/geoserver/TFG/wfs?',
                                                            type: 'GET',
                                                            data: {
                                                                service: 'WFS',
                                                                version: '1.0.0',
                                                                request: 'GetFeature',
                                                                typeName: 'TFG:track_points',
                                                                outputFormat: 'application/json',
                                                                srsName: 'EPSG:4326',
                                                                cql_filter: 'track = ' + '\'' + e.target.myData.name.replace(/'/g, "") + '\''
                                                            },
                                                            success: function(data){
                                                                //Hasmap que almacene las coordenadas juntos con su velocidad, aceleraciones y baches manuales
                                                                var hashmap = new Map();
                                                                for (var i = 0; i < data.features.length; i++) {
                                                                    var cadena = [];
                                                                    //leemos la propiedad measures, que contiene los valores de la aceleracion vertical y baches
                                                                    cadena.push(data.features[i].properties.measures.split('{'));
                                                                    let ac = [];
                                                                    let baches = [];
                                                                    //Recorremos la cadena sin analizar la primera parte
                                                                    for (var j = 1; j < cadena[0].length; j++) {
                                                                        ac.push(Number(cadena[0][j].split(":")[4].split(",")[0].split(" ")[1]));
                                                                        baches.push(Number(cadena[0][j].split(":")[5].split("}")[0].split(" ")[1]));
                                                                    }
                                                                    //almacenamos la información en un hashmap
                                                                    hashmap.set(data.features[i].geometry.coordinates.reverse(), {velocidad: data.features[i].properties.speed, aceleracion: ac, baches: baches});
                                                                }
                                                                //LLamamos a l función que se encarga de graficar los datos sobre el highchart
                                                                graficar(hashmap);

                                                                //Visualizamos el gráfico
                                                                document.getElementById("Grafico").style.display = "block";
                                                            },
                                                            error: function(xhr, status, error) {
                                                                console.log(error);
                                                            } 
                                                        });
                                                    }
                                                }
                                            });
                                            
                                        },
                                        error: function(xhr, status, error) {
                                            console.log(error);
                                        } 
                                    });
                                }
                            } 
                        },
                        error: function(){
                            alert("Error al realizar la consulta");
                        }
                    });
                }   
            });
            map.addControl(drawControl);

            /*--------------------BOTONES--------------------*/
            //Configuramos los botones laterales para mostrar los filtros o ocultarlos
            var boton1 = document.getElementById('MostrarForm');
            var boton2 = document.getElementById('ElegirAlg');
            var boton4 = document.getElementById('GuardarAlg');
            var boton7 = document.getElementById('CompararAlg');
            
            //Guardamos en una variable los formularios
            var formulario = document.getElementById('Filtros');
            var formulario1 = document.getElementById('FiltroAlgoritmo');
            var formulario2 = document.getElementById('Guardar');
            var formulario3 = document.getElementById('VerTabla'); 
            
            boton1.addEventListener('click', function() {
                if (control != 1){
                    alert("Selecciona un punto sobre el mapa para filtrar datos");
                } else {
                    if (formulario.style.display === "none") {
                        formulario.style.display = "block";
                        boton1.style.opacity = "0.25";
                        if (formulario3.style.display === "block") {
                       		formulario3.style.display = "none";
                            boton7.style.opacity = "";
                       }
                    } else {
                        formulario.style.display = "none";
                        boton1.style.opacity = "";
                    }
                }
            });
			
            //Ponemos los algoritmos disponibles en el select
            boton2.addEventListener('click', function() {
                if (control <= 1){
                    alert("Selecciona una ruta para elegir un algoritmo");
                } else {
                    if (formulario1.style.display === "none") {
                    	if (formulario2.style.display === "block") {
	                    	formulario2.style.display = "none";
	                        boton4.style.opacity = "";	
                    	}
                    	if (formulario3.style.display === "block") {
                       		formulario3.style.display = "none";
                            boton7.style.opacity = "";
                       }
                        formulario1.style.display = "block";
                        boton2.style.opacity = "0.25";
                        pedirNombresAlgoritmos();
                        //Eliminamos los options del select
                        var select = document.getElementById("CompletarAlgoritmos");
                        select.innerHTML= "";
                    } else {
                        formulario1.style.display = "none";
                        boton2.style.opacity = "";
                }
                }
            });

            //Configuramos el botón de filtrado de algoritmos
            var boton3 = document.getElementById('EjecutarAlgoritmo');
            boton3.addEventListener('click', function(event) {
                event.preventDefault();
                
              	//Obtenemos los valores de los inputs
                var parametros = {};
              	let flag = true;
                var inputs = document.querySelectorAll('#parametrosForm input');
                for (var i = 0; i < inputs.length; i++) {
                    var input = inputs[i];
                    if (!Boolean(input.value)){
                    	flag = false;
                    }
                    parametros[input.name] = input.value;
                }
                var select = document.getElementById("CompletarAlgoritmos");
                nombreAlgoritmo = select.options[select.selectedIndex].text;
                formulario1.style.display = "none";
                boton2.style.opacity = "";
                if (flag === true){
                    DeteccionDeBachesPorAlgorimtos(select.value, parametros);
                } else{
                	alert("Debes completar todos los parámetros");
                }
                select.innerHTML= "";
            });
            
            //Configuramos las acciones del boton de guardado
            boton4.addEventListener('click', function(event) {
            	if(control != 3){
            		alert("Selecciona un algoritmo para poder guardar");
            	} else {
            		if (formulario2.style.display === "none") {
                        formulario2.style.display = "block";
                        boton4.style.opacity = "0.25";
                        //Cerramos el boton que abre la eleccion de algoritmos
                        if (formulario1.style.display === "block") {
                        	formulario1.style.display = "none";
                            boton2.style.opacity = "";
                        }
                       	//Cerramos el boton que abre la comparacion de algoritmos
                        if (formulario3.style.display === "block") {
                       		formulario3.style.display = "none";
                            boton7.style.opacity = "";
                       }
                    } else {
                        formulario2.style.display = "none";
                        boton4.style.opacity = "";	
                    }
            	}
            });
            
            //Configuramos el botón de cerrado del guardado
            var boton5 = document.getElementById('cerrarGuardado');
            boton5.addEventListener('click', function(event) {
            	formulario2.style.display = "none";
                boton4.style.opacity = "";
            });
            
            //Configuramos el botón de guardar en guardado
            var boton6 = document.getElementById('abrirGuardado');
            boton6.addEventListener('click', function(event) {
            	//ponemos el cursor cargando
            	document.body.style.cursor = "wait";
            	const resultado_a_guardar = {
            		id: 1,
            		idTraza:nombreTraza,
            		algoritmoNombre: nombreAlgoritmo,
            		puntosTraza: puntos,
            		resultadoAlgoritmo: resultado,
            		parametros: parametrosEnAlgoritmo
            	};
            	
            	//algoritmos/Guardar
            	fetch('http://localhost:8090/TFG/algoritmos/Guardar', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(resultado_a_guardar)
                })
                //Si la respuesta es correcta, mostramos los baches detectados por el algoritmo
                .then(response => {
                	document.body.style.cursor = "default";
                	formulario2.style.display = "none";
                    boton4.style.opacity = "";
                	if (response.ok) {
                    	alert("Se ha guardado correctamente");	
                	} else {
                        throw new Error('La respuesta no es correcta');
                    }
                	
                })
                //Si se produce un error, lo mostramos por consola
                .catch(error => {
                    console.error('Se ha producido un error!', error);
                });
            	
            });
            
            //Configuramos el botón de comparar algoritmos
            boton7.addEventListener('click', function(event) {
	           	if (formulario3.style.display === "none") {
                   formulario3.style.display = "block";
                   boton7.style.opacity = "0.25";
                   //en el caso de que esté abierto el botón de filtro de trazas
                   if (formulario.style.display === "block") {
                   		formulario.style.display = "none";
                       	boton1.style.opacity = "";
                   }
                   //en el caso de que esté abierto el botón de elegir algoritmo
                   if (formulario1.style.display === "block") {
                   		formulario1.style.display = "none";
                        boton2.style.opacity = "";
                   }
                   //en el caso de que esté abierto el botón de guardar
                   if (formulario2.style.display === "block") {
                   		formulario2.style.display = "none";
                        boton4.style.opacity = "";
                   }
                   obtenerAlgoritmosComparar();
               } else {
                   formulario3.style.display = "none";
                   boton7.style.opacity = "";	
               }
            });
            
          //Configuramos el botón de cerrado del guardado
          var boton8 = document.getElementById('cerrarComparacion');
          boton8.addEventListener('click', function(event) {
          	formulario3.style.display = "none";
              boton7.style.opacity = "";
          });
          
          
        </script>

        <script>
	        function obtenerAlgoritmosComparar(){
	        	//Creamos una petición get al servidor de spring boot para obtener los nombres de los algoritmos
                $.ajax({
                    url: 'http://localhost:8090/TFG/algoritmos/Comparacion',
                    type: 'GET',
                    success: function(data) {
                        //Añadimos los resultados a la tabla para que el usuario seleccione
                        crearFilas(data);
                    },
                    error: function() {
                        alert("Error al realizar la consulta");
                    }
                });
	        }
	        
            function pedirNombresAlgoritmos () {
                //Creamos una petición get al servidor de spring boot para obtener los nombres de los algoritmos
                $.ajax({
                    url: 'http://localhost:8090/TFG/algoritmos',
                    type: 'GET',
                    success: function(data) {
                        let algoritmosSelect = document.getElementById("CompletarAlgoritmos");
                        let Descripcion = document.getElementById("Descripcion");
                        let parametrosForm = document.getElementById("parametrosForm");
                        //Recorremos los algoritmos y los agrega como opciones del select
                        data.forEach(function(algoritmo) {
                            var option = document.createElement("option");
                            option.text = algoritmo.name;
                            option.value = algoritmo.id;
                            algoritmosSelect.appendChild(option);
                        });
                        //Actualizamos el campo descripcion
                        let idSeleccionado = algoritmosSelect.value;
                    	let algoritmoSeleccionado = data.find(function (algoritmo) {
                            return algoritmo.id === Number(idSeleccionado);
                         });
                    	Descripcion.textContent = algoritmoSeleccionado.description;
                    	
                    	// Borra los inputs anteriores
                        while (parametrosForm.firstChild) {
                          parametrosForm.removeChild(parametrosForm.firstChild);
                        }
                    	///Creamos inputs para los parámetros del algoritmo seleccionado
                        algoritmoSeleccionado.parametros.forEach(function (parametro) {
					        let divParametro = document.createElement("div");
					        let labelParametro = document.createElement("label");
					        let inputParametro = document.createElement("input");
					
					        labelParametro.textContent = parametro;
					        labelParametro.classList.add("label-parametro");
					        inputParametro.type = "number";
					        inputParametro.name = parametro;
					        inputParametro.id = parametro;
					        inputParametro.classList.add("input-parametro");
					        inputParametro.setAttribute("value", "1");
					
					        divParametro.appendChild(labelParametro);
					        divParametro.appendChild(inputParametro);
					        parametrosForm.appendChild(divParametro);
					    });
                    	
                     	//Escuchamos el evento de cambio en el select
                        algoritmosSelect.addEventListener('change', function () {
                        	//Ponemos la descripcion para el algoritmo seleccionado
                        	let idSeleccionado = algoritmosSelect.value;
                        	let algoritmoSeleccionado = data.find(function (algoritmo) {
                                return algoritmo.id === Number(idSeleccionado);
                            });
                        	Descripcion.textContent = algoritmoSeleccionado.description;
                        	
                        	// Borra los inputs anteriores
                            while (parametrosForm.firstChild) {
                              parametrosForm.removeChild(parametrosForm.firstChild);
                            }
                         	// Crea los inputs para los parámetros y los agrega al formulario
                            algoritmoSeleccionado.parametros.forEach(function (parametro) {
                              let divParametro = document.createElement("div");
                              let labelParametro = document.createElement("label");
                              let inputParametro = document.createElement("input");

                              labelParametro.textContent = parametro;
                              labelParametro.classList.add("label-parametro");
                              inputParametro.type = "number";
                              inputParametro.name = parametro;
                              inputParametro.id = parametro;
                              inputParametro.classList.add("input-parametro");
                              inputParametro.setAttribute("value", "1");

                              divParametro.appendChild(labelParametro);
                              divParametro.appendChild(inputParametro);
                              parametrosForm.appendChild(divParametro);
                            });
                        });
                    },
                    error: function() {
                        alert("Error al realizar la consulta");
                    }
                });
            }
			
            function DeteccionDeBachesPorAlgorimtos(valor, parametros){
            	const data = {
       			  trazas: puntos,
       			  parametros: parametros
       			};
                //Creamos una petición post con fetch al servidor de spring boot para obtener los baches detectados por el algoritmo
                fetch('http://localhost:8090/TFG/algoritmos/?id=' + valor, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    //Enviamos los puntos de la ruta seleccionada en un JSON y los parametros
                    body: JSON.stringify(data)
                })
                //Si la respuesta no es correcta, lanzamos un error
                .then(response => {
                    if (!response.ok) {
                        throw new Error('La respuesta no es correcta');
                    }
                    return response.json();
                })
                //Si la respuesta es correcta, mostramos los baches detectados por el algoritmo
                .then(data => {
                    //Limpiamos lo baches del mapa detectados por algoritmos previos 
                    bachesalgoritmo.clearLayers();
                    //Limpiamos los baches del highchart detectados por el algoritmo de la base de datos
                    eliminarPotblands();
                    //Creamos un map vacío para almacenar los objetos con coordenadas únicas
                    const objetosCoordenadasUnicas = new Map();
                    
                    data.forEach(objeto => {
                        //Convertimos las coordenadas del objeto a una cadena
                        const coordenadasString = objeto.coordenadas.toString();
                        //Si el map no contiene las coordenadas, agrega el objeto completo al mapa
                        if (!objetosCoordenadasUnicas.has(coordenadasString)) {
                            objetosCoordenadasUnicas.set(coordenadasString, objeto);
                        }
                    });
                    // Convierte los valores del mapa de objetos a un array
                    resultado = Array.from(objetosCoordenadasUnicas.values());
                    parametrosEnAlgoritmo = parametros;
                    //Recorremos los baches detectados y los pintamos en el mapa
                    resultado.map(bache => {
                        var b = L.marker(bache.coordenadas, {icon: icon3}).addTo(map);
                        bachesalgoritmo.addLayer(b);
                    });

                    // Recorremos los índices de los puntos con baches para crear las plotBands sobre el chart
                    for (let i = 0; i < resultado.length; i++) {
                        let start = resultado[i].x - 1;
                        let end = resultado[i].x + 1;
                        chart.xAxis[0].addPlotBand({
                            from: start,
                            to: end,
                            color: '#00FA27',
                            id: `plotband-${resultado[i]}`
                        });
                    }
                    
                    control = 3;
                })
                //Si se produce un error, lo mostramos por consola
                .catch(error => {
                    console.error('Se ha producido un erro!', error);
                });
            }

            function eliminarPotblands() {
                //Eliminamos las plotBands del chart
                for (let i = 0; i < chart.xAxis[0].plotLinesAndBands.length; i++) {
                    //Verificar si el color de la plotband coincide con el que se quiere eliminar
                    if (chart.xAxis[0].plotLinesAndBands[i].options.color === '#00FA27') {
                        //Eliminar la plotband por su id
                        chart.xAxis[0].removePlotBand(chart.xAxis[0].plotLinesAndBands[i].options.id);
                    }
                }
            }
            
            function crearFilas(array) {
	          	  var tabla = document.getElementById("miTabla");
	          	  tabla.tBodies[0].innerHTML = "";
				  var filaSeleccionada1 = null;
				  var filaSeleccionada2 = null;
	          	  for (var i = 0; i < array.length; i++) {
		          	    var fila = document.createElement("tr");
		          	    var celda1 = document.createElement("td");
		          	    var celda2 = document.createElement("td");
		          	    var celda3 = document.createElement("td");
		          	  	var celda4 = document.createElement("td");
		          	  	var b = document.createElement("button");
		          	  	
		          	    celda1.innerHTML = array[i][0];
		          	    celda2.innerHTML = array[i][1];
		          	    celda3.innerHTML = array[i][2];
		          	  	celda4.innerHTML = JSON.stringify(array[i][3]);
		          	  	
		          	    fila.appendChild(celda1);
		          	    fila.appendChild(celda2);
		          	    fila.appendChild(celda3);
		          	  	fila.appendChild(celda4);
		          	  	fila.appendChild(b);
						
		          	  	b.classList.add("boton-seleccionar");
		          	  	b.addEventListener("click", function(event) {
		          	      // Obtener la fila correspondiente al botón seleccionado
		          	      var fila = event.target.closest('tr');
		          	      // Si la fila ya está seleccionada, deseleccionarla
		          	      if (fila === filaSeleccionada1 || fila === filaSeleccionada2) {
		          	        fila.style.backgroundColor = '';
		          	        if (fila === filaSeleccionada1) {
		          	          filaSeleccionada1 = null;
		          	        } else {
		          	          filaSeleccionada2 = null;
		          	        }
		          	      } else {
		          	        // Si no hay ninguna fila seleccionada, seleccionar esta fila
		          	        if (filaSeleccionada1 === null && filaSeleccionada2 === null) {
		          	          fila.style.backgroundColor = '#D3D3D3';
		          	          filaSeleccionada1 = fila;
		          	        // Si hay una fila seleccionada, seleccionar esta fila si no es la misma
		          	        } else if (filaSeleccionada1 != null && filaSeleccionada2 === null) {
		          	          if (fila !== filaSeleccionada1) {
		          	            fila.style.backgroundColor = '#D3D3D3';
		          	            filaSeleccionada2 = fila;
		          	          }
		          	        }
		          	      }
		          	    });
	          	    	tabla.tBodies[0].appendChild(fila);
          	  		}
	          	  
	          	  	//Configuramos el botón de comparar del guardado
	              	var boton9 = document.getElementById('CompararDosAlgoritmos');
	              	boton9.addEventListener('click', function(event) {
	              		event.preventDefault();
	            	  	if (filaSeleccionada1 !==  null && null !== filaSeleccionada2) {
	            		  	var id1 = filaSeleccionada1.getElementsByTagName("td")[0].innerHTML;
	            		  	var id2 = filaSeleccionada2.getElementsByTagName("td")[0].innerHTML;
	            		 	formulario3.style.display = "none";
		                  	boton7.style.opacity = "";
		                 	// Almacenamos los valores en el localStorage
		                  	localStorage.setItem("id1", id1);
		                  	localStorage.setItem("id2", id2);
		                  	window.location.href = "Compare.html";
	            	  	} else if(filaSeleccionada1 ===  null && null !== filaSeleccionada2){
	            	  		// Almacenamos los valores en el localStorage
		                  	localStorage.setItem("id1", filaSeleccionada2.getElementsByTagName("td")[0].innerHTML);
	            	  		formulario3.style.display = "none";
		                  	boton7.style.opacity = "";
		                  	window.location.href = "Visualizar.html";
	            	  	} else if (filaSeleccionada1 !==  null && null === filaSeleccionada2) {
	            	  		// Almacenamos los valores en el localStorage
		                  	localStorage.setItem("id1", filaSeleccionada1.getElementsByTagName("td")[0].innerHTML);
	            	  		formulario3.style.display = "none";
		                  	boton7.style.opacity = "";
		                  	window.location.href = "Visualizar.html";
	            	  	} else {
	            		  alert ("Es necesario selecionar uno o dos algoritmos");
	            	  	}
	              	});
            	}
        </script>
    </body>
</html>